# Node dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.*

# Local databases & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/enquiries.json

# IDEs and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
